@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

html,body
{
    overflow-x:hidden;
    font-family: 'Readex Pro', sans-serif !important;
}

/* hero background image */
.bgimage {
  height:100vh;
  background: url('images/toronto_night.jpg');
  background-size:cover;
  position:relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(149, 217, 241);
  text-shadow: 2px 4px black;
  font-family: 'Readex Pro', sans-serif
}
/* text css above hero image*/

.hero_title {
  font-size: 4.5rem;
  font-family: 'Readex Pro', sans-serif;
}

 .intro {
  font-family: 'Readex Pro', sans-serif;
  font-size: 40px;
  
}

 .text-center {
  font-family: 'Readex Pro', sans-serif;
}

 .hero_title {
  font-size: 4.5rem;
  font-family: 'Readex Pro', sans-serif;
}

.hero_desc {
  font-size: 2rem;
}

.hero_title,
.hero_desc {
  font-family: 'Readex Pro', sans-serif 
}

.web {
  font-family: 'Readex Pro', sans-serif;
}

.web:hover {
  color: #fdec6e;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

}

.hero_title:hover {
 
    color: #fdec6e;
    text-shadow:0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  
}



/* about section image css */
.imageAboutPage {
  width: 100%;
}


.navbarScroll.navbarDark {
  background-color: black;
}

#my-map-display img{
  max-width:none!important;
  background:none!important;
  font-size: inherit;
  font-weight:inherit;}


  /* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
  transition: transform .2s
}
.fa-square-github:hover,.fa-square-gitlab:hover,.fa-linkedin:hover {
  color: #ffff00;
  transform: scale(1.1)
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}

/* spacing on all sections */
#about, #services, #portfolio, #contact {
  margin-top: 4rem;
  padding-top: 4rem;
}
#contact {
  padding-bottom: 4rem;
}

.tech-card {
  display: inline-block;
  background-color: navy;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  white-space: nowrap;
  text-align: center;
  box-shadow: 2px 4px black;
  margin: 4px;
  
}

.tech-card:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: translateY(-2px);
}

.dark-mode {
  background-color: #010234;
  color: lightyellow
}

.dark-mode .card-body {
  background-color: #010234;
  color: lightyellow
}

.button {
  border-radius: 50%; 
  background-color: lightyellow; 
  border: none; 
  box-shadow: 0px 2px 20px #fff; /* add a subtle shadow */
  margin-top: 7px;
  margin-left: 7px;
  padding: 5px 10px; 
}

.button:hover {
  box-shadow: 0px 0px 30px #fff; /* increase the glow effect on hover */
}

.button:focus {
  outline: none; /* remove default focus outline */
  box-shadow: 0px 0px 50px #fff; /* add a larger glow effect on focus */
}

.html {
  transition: transform .2s 
}

.html:hover {
  transform: scale(1.2)
}

.css {
  transition: transform .2s 
}

.css:hover {
  transform: scale(1.2)
}

.js {
  transition: transform .2s 
}

.js:hover {
  transform: scale(1.2)
}

.node {
  transition: transform .2s 
}

.node:hover {
  transform: scale(1.2)
}


.react {
  transition: transform .2s 
}

.react:hover {
  transform: scale(1.2)
}

.mongodb {
  transition: transform .2s 
}

.mongodb:hover {
  transform: scale(1.2)
}

.postman {
  transition: transform .2s 
}

.postman:hover {
  transform: scale(1.2)
}

.aws {
  transition: transform .2s 
}

.aws:hover {
  transform: scale(1.2)
}

.bootstrap {
  transition: transform .2s 
}

.bootstrap:hover {
  transform: scale(1.2)
}

.redux {
  transition: transform .2s 
}

.redux:hover {
  transform: scale(1.2)
}

.postgresql {
  transition: transform .2s 
}

.postgresql:hover {
  transform: scale(1.2)
}

.angular {
  transition: transform .2s 
}

.angular:hover {
  transform: scale(1.2)
}

.typescript {
  transition: transform .2s 
}

.typescript:hover {
  transform: scale(1.2)
}

.firebase {
  transition: transform .2s 
}

.firebase:hover {
  transform: scale(1.2)
}

.butter {
  transition: transform .2s 
}

.butter:hover {
  transform: scale(1.2)
}



#tool_thumbnails {
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px 30px;
  margin-left:5%;
  justify-content: center;
}

@media all and (max-width: 750px) {
#tool_thumbnails {
  grid-template-columns: repeat(3, 1fr);
}

#tool_thumbnails {
  grid-gap: 10px;
}


}


@media all and (max-width: 500px) {
  #tool_thumbnails {
      grid-template-columns: repeat(3, 1fr);
  }

  .g-recaptcha {
    text-align: center;
    margin-left: 30px;
   }
}

@media only screen and (max-width: 480px) {
  input,
  textarea {
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 10px;
  }
  form {
    padding-top: 25px;
  }

}
